<main>
  <h1 id="cartID">Carrito: {{cart._id}}</h1>
  <div>
    {{#each cart.products}}
      <div class="container">
        <div class="product-card">
          <div>
            <img class="product-image" src={{product.thumbnails}} alt="alt" />
          </div>
          <div class="product-info">
            <h3 id="productli" class="product-title">{{product.title}}</h3>
            <h4 id="productli">{{quantity}}</h4>
            <h3 id="productli" class="product-price">${{product.price}}</h3>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  
  <div class="total-amount">
    <h3>Total: ${{cart.totalAmount}}</h3>
  </div>

  <button id="volverBtn" class="product-btn">Volver</button>
  <button id="ticketBtn" class="product-btn">Finalizar Compra</button>
</main>

<link rel="stylesheet" href="/css/cart.css" />
<script async src="/js/cart.js"></script>
