<main class="main text-center">
  <section data-authenticated="{{isAuthenticated}}" class="py-5">
    {{#if isAuthenticated}}
    <h1 id="userEmail" class="section-title">Bienvenido {{email}} - Rol: {{role}}</h1>
    <h2 id="cartID">CartID: {{cart}}</h2>
    {{else}}
    <h2>Bienvenido Invitado!</h2>
    <h3>Puedes ver nuestros productos</h3>
    <h4>Para acceder a todos nuestros servicios, crea una cuenta o inicia sesión</h4>
    {{/if}}
  </section>

  <section class="container py-4">
    <h1 class="section-title"></h1>
    <hr class="divider">
    
      <div class="mx-3"></div>
        <form id="searchForm" class="d-flex" action="/index" method="get">
          <input id="searchInput" class="form-control" type="text" name="product" placeholder="Buscar producto" autocomplete="off" />
        </form>
      </div>
    <div class="filter-section d-flex justify-content-center align-items-center my-4">

      <div class="dropdown mx-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown"
          aria-expanded="false">
          Categorías
        </button>
        <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
          <li><a class="dropdown-item filter-link" data-filter="category" data-value="cafe" href="#">Café</a></li>
          <li><a class="dropdown-item filter-link" data-filter="category" data-value="te" href="#">Té</a></li>
          <li><a class="dropdown-item filter-link" data-filter="category" data-value="comestibles" href="#">Comestibles</a></li>
          <li><a class="dropdown-item filter-link" data-filter="category" data-value="" href="#">Todos</a></li>
        </ul>
      </div>
      
      <div class="dropdown mx-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="priceDropdown" data-bs-toggle="dropdown"
          aria-expanded="false">
          Ordenar por precio
        </button>
        <ul class="dropdown-menu" aria-labelledby="priceDropdown">
          <li><a class="dropdown-item filter-link" data-filter="sortByPrice" data-value="1" href="#">Ascendente</a></li>
          <li><a class="dropdown-item filter-link" data-filter="sortByPrice" data-value="-1" href="#">Descendente</a></li>
        </ul>
      </div>
    </div>

    {{#if (or (eq role 'premium') (eq role 'admin'))}}
      <div class="dropdown mx-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="statusDropdown" data-bs-toggle="dropdown"
          aria-expanded="false">
          Disponibilidad
        </button>
        <ul class="dropdown-menu" aria-labelledby="statusDropdown">
          <li><a class="dropdown-item filter-link" data-filter="status" data-value="true" href="#">Disponibles</a></li>
          <li><a class="dropdown-item filter-link" data-filter="status" data-value="false" href="#">No disponibles</a></li>
        </ul>
      </div>
      {{/if}}

    <section>
      <h2 class="my-4">Nuestros cafés</h2>
      <div class="product-grid">
        {{#each products}}
        <div class="product-card">
          <div class="product-image">
            <img src="/images/IMG_placeholder.jpg" alt="Product" />
          </div>
          <div class="product-info">
            <h2 class="product-title">{{this.title}}</h2>
            <h3 class="product-price">${{this.price}}</h3>
          </div>
          <button class="product-btn" data-product-id="{{this._id}}" data-cart-id="{{../cart}}"
            data-user-email="{{email}}">
            Ver más
          </button>
        </div>
        {{/each}}
      </div>
    </section>
  </section>

  <section class="container-center py-4">
    <div class="d-flex justify-content-center align-items-center">
      {{#if hasPrevPage}}
      <a href="{{prevLink}}">Anterior</a>
      {{/if}}
      <p class="mx-2">{{page}}</p>
      {{#if hasNextPage}}
      <a href="{{nextLink}}">Siguiente</a>
      {{/if}}
    </div>
  </section>
</main>

<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/index.css" />
<script src="/js/index.js"></script>